.snakemake
03-data
04-analysis
conda
snakemake_tmp
tmp
conda_environment.yml
.nextflow.log
.nextflow.log.1
.nextflow.log.2
.nextflow.log.3
.nextflow.log.4
.nextflow.log.5
.nextflow.log.6
.nextflow.log.7
.nextflow.log.8
.nextflow.log.9
.nextflow.log.10
.nextflow/
work
taxa2core.txt
taxa2core_cpa201901_up201901.txt.bz2
taxa2core_cpa201901_up201901.txt.bz2	
